# ========================

# GENERAL

# ========================

.idea/

.vscode/

.DS_Store

*.log

*.suo

*.sln

*.swp

.env*

# ========================

# JAVA / SPRING BOOT

# ========================

bcrypt.txt

### Gradle ###

.gradle/

build/

bin/

*/build/

!gradle/wrapper/gradle-wrapper.jar

!**/src/main/**/build/

!**/src/test/**/build/



### IDEs ###

.apt_generated/

.classpath

.factorypath

.project

.settings/

.springBeans/

.sts4-cache/

/nbproject/private/

/nbbuild/

/dist/

/nbdist/

/.nb-gradle/

# ========================

# NODE.JS / REACT / VITE

# ========================

node_modules/

dist/

dist-ssr/

data/

npm-debug.log*

yarn-debug.log*

pnpm-debug.log*

lerna-debug.log*

.eslintcache