.movie-carousel-container{
    height: inherit;
    background-color: black;

}
.carouselpages{
    height: inherit;
}
.movie-poster{
    height: min-content;
    border: 1px solid gold;
    border-radius: 10px;
    overflow: hidden;
}
.movie-poster > img{
    width: 200px;
}
.movie-card-container{
    height: 100%;
    background-color: black;
}
.movie-card{
    background-repeat: no-repeat;
    width: 100%;
    height: 780px;
    background-size:cover;
    background-image: linear-gradient(to bottom , rgba(0,0,0,0), rgba(0,0,0,1)), var(--img);

}
.movie-detail{
    position: absolute;
    top: 200px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 40%;
    margin-right: px;
}
.movie-title{
    color: white;
    display: flex;
    align-items: center;
    height: 200px;
}

.movie-buttons-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30px


}
.play-button-icon-container{
    padding: 0px;
    margin: 0px;
    width: 150px;
}
.play-button-icon{
    padding: 0px;
    margin: 0px;
    color: gold;
    font-size: 3rem;
    transform: 0.3s;
    cursor: pointer;
}
.play-button-icon:hover{
    font-size: 4rem;
    color: rgba(1, 6, 10, 0.54);
}

@media only screen and (max-width: 800px){
    .movie-detail{
        flex-direction: column;
        align-items: center;
        top: 20px;
    }
}