footer{
    padding: 0.75rem 0;
    --bs-bg-opacity:1;
    background-color:rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important ;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}